{% import 'base_helper.tmpl' as base with context %}
{% import 'base_header.tmpl' as header with context %}
{% import 'base_footer.tmpl' as footer with context %}
<!doctype html>
<html lang="en">
  <head>
    {{ base.html_headstart() }}
    {% block extra_head %}
    {#  Leave this block alone. #}
    {% endblock %}
    {{ template_hooks['extra_head']() }}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css">
    <link rel="stylesheet" href="/assets/css/ink9.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
  </head>
  <body>
    <div class="container px-0 px-md-3">
        <div class="row flex-nowrap header">
            <img src="/assets/images/banner-md.jpg" />
        </div>
        <div class="row" id="contentView">
            {{ header.html_navigation_links() }}
            <div class="col-12 col-md-9 order-0 order-md-1 bg-white p-3">
                {% block content %}{% endblock %}
            </div>
        </div>
    </div>
    {{ base.late_load_js() }}
    {% block extra_js %}{% endblock %}
    <script>
    baguetteBox.run('div#contentView', {
        ignoreClass: 'islink',
        captions: function(element){var i=element.getElementsByTagName('img')[0];return i===undefined?'':i.alt;}});
    </script>
    {{ body_end }}
    {{ template_hooks['body_end']() }}
  </body>
</html>